  <footer>
    <section>
      <a target="_blank" href="http://twitter.com/dwoodiwiss">
        <img src="{{asset "img/placeholder-50.png"}}" alt="Twitter">
      </a>

      <a target="_blank" href="http://www.facebook.com/profile.php?id=darrenwoodiwiss">
        <img src="{{asset "img/placeholder-50.png"}}" alt="Facebook">
      </a>

      <a target="_blank" href="https://github.com/dwoodiwiss">
        <img src="{{asset "img/placeholder-50.png"}}" alt="GitHub">
      </a>

      <a target="_blank" href="http://uk.linkedin.com/pub/darren-woodiwiss/21/566/966/">
        <img src="{{asset "img/placeholder-50.png"}}" alt="LinkedIn">
      </a>

      <a target="_blank" href="{{ asset "mr-darren-woodiwiss-cv.pdf"}}">
        <img src="{{asset "img/placeholder-50.png"}}" alt="CV">
      </a>
    </section>
    <section class="credits">
      <span>All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</span>
    </section>
  </footer>
