<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}">

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{asset '/favicon.ico'}}">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700|Open+Sans:700' rel='stylesheet' type='text/css'>
  {{!-- @TODO - CHange back to cached asset --}}
  <link rel="stylesheet" href="{{asset '/css/app.css'}}">
  {{!-- <link rel="stylesheet" href="assets/css/app.css"> --}}

  {{ghost_head}}

</head>
<body class="{{body_class}}">

  <main role="main">
    {{{body}}}
  </main>

  <footer>
    <section>
      <a target="_blank" href="http://twitter.com/dwoodiwiss">
        <img src="{{asset "img/placeholder-50.png"}}" alt="Twitter">
      </a>

      <a target="_blank" href="http://www.facebook.com/profile.php?id=darrenwoodiwiss">
        <img src="{{asset "img/placeholder-50.png"}}" alt="Facebook">
      </a>

      <a target="_blank" href="https://github.com/dwoodiwiss">
        <img src="{{asset "img/placeholder-50.png"}}" alt="GitHub">
      </a>

      <a target="_blank" href="http://uk.linkedin.com/pub/darren-woodiwiss/21/566/966/">
        <img src="{{asset "img/placeholder-50.png"}}" alt="LinkedIn">
      </a>

      <a target="_blank" href="{{ asset "mr-darren-woodiwiss-cv.pdf"}}">
        <img src="{{asset "img/placeholder-50.png"}}" alt="CV">
      </a>
    </section>
    <section>
      <span>All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</span>
    </section>
  </footer>

  {{ghost_foot}}

  <script src="{{asset 'js/app.js'}}"></script>

</body>
</html>
