{{!< default}}

<section class="content">

  <section class="content__list content__list--portfolio">
    <ul>
      {{#foreach posts}}
        {{^has tag="Blog"}}
          <li>
            <a href="{{url}}" title="{{title}}">{{title}}</a><span>{{date published_at timeago="true"}}</span>
          </li>
        {{/has}}
      {{/foreach}}

      {{!-- @TODO REMOVE THIS  --}}
      {{#foreach posts}}
        {{^has tag="Blog"}}
          <li>
            <a href="{{url}}" title="{{title}}">{{title}}</a><span>{{date published_at timeago="true"}}</span>
          </li>
        {{/has}}
      {{/foreach}}
      {{#foreach posts}}
        {{^has tag="Blog"}}
          <li>
            <a href="{{url}}" title="{{title}}">{{title}}</a><span>{{date published_at timeago="true"}}</span>
          </li>
        {{/has}}
      {{/foreach}}
      {{!-- END REMOVE --}}

    </ul>
  </section>

  <section class="content__list content__list--blog">
    <ul>
      {{#foreach posts}}
        {{#has tag="Blog"}}
          <li>
            <a href="{{url}}" title="{{title}}">{{title}}</a><span>{{date published_at timeago="true"}}</span>
          </li>
        {{/has}}
      {{/foreach}}
    </ul>
  </section>

</section>
