{{!< default}}

{{> sidebar }}

<section class="siteContent">

  <section class="portfolio">
    <ul>
      {{#foreach posts}}
        {{^has tag="Blog"}}
          <li>
            <a href="{{url}}" title="{{title}}">{{title}}</a><span>{{date published_at timeago="true"}}</span>
          </li>
        {{/has}}
      {{/foreach}}
    </ul>
  </section>

  <section class="blog">
    <ul>
      {{#foreach posts}}
        {{#has tag="Blog"}}
          <li>
            <a href="{{url}}" title="{{title}}">{{title}}</a><span>{{date published_at timeago="true"}}</span>
          </li>
        {{/has}}
      {{/foreach}}
    </ul>
  </section>

</section>
