{{!< default}}

{{#post}}

  <article class="{{post_class}} content">
    {{#if feature_img}}
      <div class="post__header-image">
        <img src="{{img_url}}" alt="{{title}}">
      </div>
    {{/if}}
    <h2 class="post__title">{{title}}<span> Posted on {{date}}</span></h2>
    {{content}}
  </article>

{{/post}}
