{{!< default}}

{{#post}}

  <article class="{{post_class}} content">
    {{#if image}}
      <div class="post__header-image">
        <img src="{{image}}" alt="{{title}}">
      </div>
    {{/if}}
    <h1 class="post__title">{{title}}<span> Posted on {{date}}</span></h1>
    {{content}}
  </article>

{{/post}}
